:root {
  --dark: #0D0E12;
  --grey: #484b51;
  --grey-light: #202225;
  --grey-lighter: #2a2c33;
  --primary: #7A1EC9;
  --secondary: #236CFD;
  --light: #c8c8c8;
  --white: #fff;
  --alert: #eb3d3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark);
  padding: 0 1.25rem;
}

* {
  font-family: "Baloo 2", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::selection {
  background: var(--primary);
  color: #fff;
}

h1 {
  color: var(--white);
  font-size: 4rem;
  font-weight: 500;
  display: flex;
  line-height: 1;
  position: relative;

  svg {
    position: absolute;
    top: -6px;
    right: -22px;
  }
}

h2 {
  font-size: 1.75rem;
  font-weight: 400;
  color: var(--grey);
  display: flex;
  line-height: 1;
}

h3 {
  color: var(--light);
  font-size: 1.5rem;
  font-weight: 600;
}

.background-symbol {
  position: absolute;
  top: -20rem;
  right: calc(100% - 6rem);
  z-index: -1;
}

app-root {
  display: grid;
  grid-template-columns: 1fr min(34rem, 100%) 1fr;
}

.container {
  grid-column: 2;
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0;
  gap: 0.625rem;
}

.main-container {
  background: var(--grey-light);
  cursor: pointer;
  transition: background-color .2s ease;
  user-select: none;
  width: 100%;
  border-radius: 10px;
  padding: 3px;

  > input {
    display: none;
  }

  &:hover {
    background: var(--grey-lighter);
  }

  &:active {
    background: var(--grey-light);
  }

  &.droppable {
    background: var(--primary);
  }

  &.active {
    cursor: default;

    background: linear-gradient(90deg,
      var(--primary),
      var(--secondary),
      var(--primary),
      var(--secondary),
      var(--primary),
    );

    background-size: 200% 100%;
    animation: gradientMove 5s linear infinite;
  }
}

main {
  border-radius: 10px;
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--dark);

  > svg {
    margin: 20px 0;

    .active & {
      animation: moveUpDown .3s infinite alternate;
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 50px 0;
  width: 100%;
}

.file-container {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--grey-light);
  padding: 0 0 20px 0;

  &:hover {
    .file-old-name {
      opacity: 1;
    }
  }

  &:last-child {
    border: none;
  }
}

.file-names {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.file-old-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--grey);
  font-weight: 400;
  margin: 0 0 0 0;
  opacity: 0;
  transition: opacity .2s ease;

  @media (max-width: 620px) {
    opacity: 1;
  }
}

.file-new-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--light);
  font-weight: 500;
  font-size: 1.3rem;
  margin: -5px 0 0 0;

  small {
    font-weight: 400;
    color: var(--grey);
  }
}

.file-actions {
  display: flex;
  position: relative;
}

.file-switcher {
  display: flex;
  width: 3rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity .2s ease;
  opacity: .5;
  flex-shrink: 0;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: .5;
  }
}

.issue-message {
  font-size: 1.2rem;
  color: var(--alert);
  margin: 20px 0;
}

.all-download {
  background: var(--dark);
  border: 2px solid var(--grey-light);
  margin: 0 auto;
  color: var(--grey);
  border-radius: 3px;
  padding: 2px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: border .2s ease;
  position: sticky;
  z-index: 10;

  &:first-of-type {
    top: 10px;
  }

  &:last-of-type {
    bottom: 10px;
  }

  &:hover {
    border: 2px solid #2a2c33;
  }

  &:active {
    border: 2px solid var(--grey-light);
  }
}

.downloaded-icon {
  display: none;
}

.file-download {
  display: flex;
  width: 4rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity .2s ease;
  opacity: .5;
  flex-shrink: 0;

  &.downloaded {
    .download-icon {
      display: none;
    }

    .downloaded-icon {
      display: block;
    }

    &:hover {
      .download-icon {
        display: block;
      }

      .downloaded-icon {
        display: none;
      }
    }
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: .5 !important;
  }
}

.file-tags {
  flex: 1;
  display: flex;
  flex-direction: column;

  label {
    color: var(--grey);
    width: 4rem;
    display: flex;
    font-size: 1.1rem;
  }

  input {
    border: none;
    background: transparent;
    color: var(--light);
    display: flex;
    font-size: 1.1rem;
    outline: 0;
    transition: background .2s ease;
    padding: 0 6px;
    width: 100%;
    border-radius: 3px;

    &:hover,
    &:focus {
      background: var(--grey-light);
    }
  }
}

.file-artist {
  display: flex;
  align-items: center;
}

.file-title {
  display: flex;
  align-items: center;
}

p {
  color: var(--grey);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.4;
  margin: 20px 0 0 0;
  max-width: 500px;
}

footer {
  margin-top: auto;
  display: flex;
  padding: 20px 0;

  a {
    outline: 0;
    color: var(--grey);
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.25rem;
    text-decoration: none;

    @media (max-width: 420px) {
      flex-direction: column;
      font-size: 1.125rem;
    }

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      text-decoration: underline;
    }

    &:active {
      text-decoration: none;
    }

    span {
      gap: 5px;
      display: flex;
      align-items: center;
    }
  }
}

@keyframes gradientMove {
  0% { background-position: 0 50%; }
  50% { background-position: 300% 50%; }
  100% { background-position: 0 50%; }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
